.link {
  display: flex;
  align-items: center;
  margin-bottom: 24px;

  p {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    margin: 0 3px 0 0;
    line-height: 19px;
  }

  a {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 14px;
    color: #3167BA;
  }
}